* {
    font-size: 1rem;
}

body {
    background-color: whitesmoke;
}

hr {
    border: none;
}

i {
    font-size: 1.75rem;
}

.fa-file-pen {
    color: #85c8ee;
}

.fa-trash-can {
    color: #963333;
}

// ナビ
.navbar-nav {
    li {
        padding-right: 20px;
    }
    i {
        padding-right: 5px;
    }
}

/* 一覧画面 */
.contact_table {
    margin-bottom: 2rem;
}

#action_list {
    // display: flex;
    justify-content: space-around;
    text-align: center;
}

.dash_boards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.dash_board {
    border: 1px solid #e8e8e8;
    display: inline-block;
    // margin-right: 8px;
    margin-bottom: 5px;
}

.dash_img {
    height: 75px;
    width: 70px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 2.5rem;
        color: whitesmoke;
    }
}
.dash_detail {
    height: 75px;
    width: 130px;
    display: inline-table;
    padding: 0;
    background-color: white;
}
.dash_title {
    color: #616161;
    padding-left: 5px;
}
.dash_cnt {
    font-weight: 900;
    font-size: 2rem;
    padding-left: 5px;
}

.accordion-item {
    // margin-right: 15px;
    .accordion-header {
        vertical-align: middle; /* 上下中央に寄せる */ 
        button{
            padding: 0;
        }
        i {
            display: table-cell; /* 子要素はテーブルセル要素にする */
            color: white;
            text-align: center;
            padding: 15px;
            padding-right: 40px;
            width: 30px;
        }
        h5 {
            margin: 0;
            padding-left: 10px;
            color: #616161;
        }
    }
}

.contact_table_row {
    th{
        padding: 0;
        margin: 0;
    }
    td {
        padding-left: 0;
        // margin: 0;
        vertical-align: middle;
    }
    a{
        padding-left: 10px;
    }
    .td_detail {
        display: block;
        color: rgb(126, 133, 115);
        width: 100%;
        text-decoration: none;
        line-height: 49px;
        padding-left: 10px;
        transition: all 0.5s;
    }
    .td_detail:hover {
        background-color: rgb(126, 133, 115);
        color: white;
    }
}

/* 詳細画面 */
.detail_card {
    margin-bottom: 2rem;

    .card-header h2 {
        /* float: left; */
        padding-top: 0;
        padding-right: 1.5rem;
    }
    .card-title {
        margin-top: 0;
    }
}

.dataTable {
    tr {
        border: #e1e1e1;
    }
}

#detail_table {
    margin: 3.5rem 0;
    width: 100%;
    background-color: white;

    tbody tr th {
        font-weight: normal;
        background-color: #f8f6f2;
        vertical-align: middle;
        padding: 1rem;
        width: 20%;
    }

    tbody tr td {
        padding: 0.75rem 1rem 1.75rem;
    }
}
