{% extends 'post/base.html' %}

{% load humanize %}
{% block header %}
<p>会社情報を確認しましょう！</p>
{% endblock header %}

{% block content %}

<table class="table" id="data-table">
    <thead>
        <tr>
            <th scope="col" style="width: 20%;">契約会社</th>
        </tr>
    </thead>
    <tbody class="contact_table_row">
        {% for task in object_list %}
        <tr>
            <td><a class="td_detail" href="{% url 'company_detail' task.pk %}">{{ task.company_name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-outline-secondary mt-2" href="{% url 'list' %}" role="button">戻る</a>

{% endblock content %}