{% extends 'post/base.html' %} 
{% block header %}
<p>契約を管理しましょう！</p>
<a class="btn btn-primary" href="{% url 'create' %}">新規作成</a>
{% endblock header %}
{% block content %}
<div class="">
    <table class="table contact_table shadow-sm p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th scope="col">契約会社</th>
                <th scope="col">案件名</th>
                <th scope="col">計上予定日</th>
                <th scope="col">ステータス</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <h2>今月支払</h2>
            {% for task in this_month_post %}
                <tr>
                    <td>{{ task.contract_partner }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.recording_date }}</td>
                    <td>{{ task.status }}</td>
                    <td id="action_list">
                        <a href="{% url 'detail' task.pk %}"><i class="fa-solid fa-circle-info"></i></a>
                        <a href="{% url 'update' task.pk %}"><i class="fa-solid fa-file-pen"></i></a>
                        <a href="{% url 'delete' task.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table contact_table shadow-sm p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th scope="col">契約会社</th>
                <th scope="col">案件名</th>
                <th scope="col">計上予定日</th>
                <th scope="col">ステータス</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <h2>毎月支払</h2>
            {% for task in monthly_post %}
                <tr>
                    <td>{{ task.contract_partner }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.recording_date }}</td>
                    <td>{{ task.status }}</td>
                    <td id="action_list">
                        <a href="{% url 'detail' task.pk %}"><i class="fa-solid fa-circle-info"></i></a>
                        <a href="{% url 'update' task.pk %}"><i class="fa-solid fa-file-pen"></i></a>
                        <a href="{% url 'delete' task.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table contact_table shadow-sm p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th scope="col">契約会社</th>
                <th scope="col">案件名</th>
                <th scope="col">計上予定日</th>
                <th scope="col">ステータス</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <h2>翌月以降支払</h2>
            {% for task in next_month_post %}
                <tr>
                    <td>{{ task.contract_partner }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.recording_date }}</td>
                    <td>{{ task.status }}</td>
                    <td id="action_list">
                        <a href="{% url 'detail' task.pk %}"><i class="fa-solid fa-circle-info"></i></a>
                        <a href="{% url 'update' task.pk %}"><i class="fa-solid fa-file-pen"></i></a>
                        <a href="{% url 'delete' task.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}