{% extends 'post/base.html' %} 

{% block header %}
<p>請求締めまで終えた契約も表示されます</p>
{% endblock header %}
{% block content %}
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table" id="data-table">
        <thead>
            <tr>
                <th scope="col">契約会社</th>
                <th scope="col">案件名</th>
                <th scope="col">ステータス</th>
                <th scope="col">計上予定日</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="contact_table_row">
            {% for task in object_list %}
            <tr>
                <td>{{ task.contract_partner }}</td>
                <td><a class="td_detail" href="{% url 'detail' task.pk %}">{{ task.title }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.recording_date }}</td>
                <td id="action_list">
                    <a href="{% url 'update' task.pk %}"><i class="fa-solid fa-file-pen"></i></a>
                    <a href="{% url 'delete' task.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}